[Unit]
Description=Uten IMP auto updater timer (every 5 minutes)

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
RandomizedDelaySec=60
Persistent=true

[Install]
WantedBy=timers.target
